@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.scroll) {
  @media (max-width: 1300px) {
    overflow-x: scroll;
  }

  @media (min-height: 500px) {
    .table-scroll-vertical {
      max-height: 450px;
      overflow-y: scroll;
    }
  }
}

:local(.scroll)::-webkit-scrollbar-track, .table-scroll-vertical::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

:local(.scroll)::-webkit-scrollbar, .table-scroll-vertical::-webkit-scrollbar {
  height: 6px;
  width: 5px;
  background-color: transparent;
}

:local(.scroll)::-webkit-scrollbar-thumb, .table-scroll-vertical::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: @navy-gray;
}

:local(.scroll-bar)::-webkit-scrollbar-corner, .table-scroll-vertical::-webkit-scrollbar-corner {
  background: transparent;
}
