@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.success) {
  width: 560px !important;
  @media (max-width: @sm) {
    width: 390px !important;
  }
  @media (max-width: @x-sm) {
    width: 340px !important;
  }

  .modal-content {
    background-color: @light-navy-blue;
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 35px 40px;
    @media (max-width: @sm) {
      padding: 15px 10px;
    }
  }

  .icon-remove, .icon-remove:hover {
    color: @navy-gray;
    font-size: 17px;
  }
}

:local(.icon) {
  font-size: 40px;
  color: white;
}

:local(.title) {
  font-family: Roboto-Medium;
  font-size: 18px;
  text-align: center;
  color: white;
  margin-top: 16px;
}

:local(.address) {
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: @light-blue;
  margin-top: 13px;
  word-break: break-all;
}

:local(.btn) {
  font-family: Roboto-Medium;
  width: 180px;
  height: 40px;
  border-radius: 21.5px;
  background-color: transparent;
  border: 1px solid @light-blue;
  font-size: 16px;
  text-align: center;
  color: @light-blue;
  margin-top: 10px;

  span {
    vertical-align: middle;
  }
}

:local(.btn):hover {
  transition: 0.4s ease-in-out;
  background-color: @light-blue;
  border: 1px solid @light-blue;
  color: white;
}

:local(.btn):focus {
  outline: none;
}
