@import "~Root/styles/colors.less";
@import "~Root/styles/vars.less";

:local(.import-wallet), :local(.import-wallet):hover {
  color: @navy-gray;
  font-size: 18px;
  line-height: 1.28;

  .icon-arrow-left {
    font-size: 12px;
    vertical-align: middle;
    padding-right: 20px;
  }
}

:local(.download) {
  width: 133px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px @light-blue;
  background-color: transparent;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: @light-blue;
  margin-right: 30px;
  @media (max-width: @x-sm) {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    height: 45px;
  }
}

:local(.download):focus, :local(.next):focus {
  outline: none;
}

:local(.download):hover {
  background-color: @light-blue;
  color: white;
  transition: 0.3s ease-in-out;
}

:local(.next) {
  width: 125px;
  height: 50px;
  border-radius: 8px;
  background-color: @light-blue;
  border: 1px solid @light-blue;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: white;
  @media (max-width: @x-sm) {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    height: 45px;
  }

  .icon-arrow-right {
    font-size: 12px;
    padding-left: 15px;
  }
}

:local(.next):hover {
  background-color: transparent;
  color: @light-blue;
  transition: 0.3s ease-in-out;
}
