@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.card) {
  padding: 40px 50px 44px 50px;
}

:local(.title) {
  font-family: Roboto-Medium;
  font-size: 20px;
  text-align: center;
  color: white;
}

:local(.text) {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.7px;
  text-align: center;
  color: @navy-gray;
  margin-top: 5px;
}

:local(.btn) {
  font-family: Roboto-Medium;
  width: 160.7px;
  height: 42px;
  border-radius: 21px;
  border: solid 1.5px @light-blue;
  background-color: transparent;
  font-size: 15px;
  text-align: center;
  color: white;
  margin-top: 14px;
}

:local(.btn):focus {
  outline: none;
}

:local(.btn):hover {
  transition: 0.3s ease-in-out;
  background-color: @light-blue;
  color: white;
}
