@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.send) {
  width: 560px !important;
  @media (max-width: @sm) {
    width: 390px !important;
  }
  @media (max-width: @x-sm) {
    width: 340px !important;
  }

  .modal-content {
    background-color: @light-navy-blue;
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 35px 40px;
    @media (max-width: @sm) {
      padding: 15px 10px;
    }
  }

  :local(.title) {
    font-family: Roboto-Medium;
    font-size: 18px;
    color: white;
  }

  .icon-remove, .icon-remove:hover {
    color: @navy-gray;
    font-size: 17px;
  }
}

:local(.hr) {
  border-bottom: solid 1px @navy-gray !important;
  padding-top: 15px;
}

:local(.hr-bottom) {
  border-bottom: solid 1px @navy-gray !important;
  padding-top: 10px;
}

:local(.btn) {
  font-family: Roboto-Medium;
  width: 150px;
  height: 45px;
  border-radius: 21.5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.17);
  background-color: @light-blue;
  border: 1px solid @light-blue;
  font-size: 18px;
  text-align: center;
  color: white;
  float: right;

  span {
    vertical-align: middle;
  }

  .icon-send-message {
    font-size: 17.5px;
  }
}

:local(.btn):hover {
  transition: 0.4s ease-in-out;
  background-color: @lighter-blue;
  border: 1px solid @lighter-blue;
}

:local(.btn):focus {
  outline: none;
}

