@import "~Root/styles/colors.less";
@import "~Root/styles/vars.less";

:local(.load-wallet) {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: @light-blue;
  border: 1px solid @light-blue;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

:local(.load-wallet):focus {
  outline: none;
}

:local(.load-wallet):hover {
  background-color: transparent;
  color: @light-blue;
  transition: 0.3s ease-in-out;
}

:local(.import-wallet), :local(.import-wallet):hover {
  color: @navy-gray;
  font-size: 18px;
  line-height: 1.28;

  .icon-arrow-left {
    font-size: 12px;
    vertical-align: middle;
    padding-right: 20px;
  }
}

:local(.padding) {
  padding-right: 70px;
  padding-left: 70px;
  @media (max-width: @lg) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (max-width: @sm) {
    padding-right: 10px;
    padding-left: 10px;
  }
}
