@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.title) {
  font-family: Roboto-Bold;
  font-size: 30px;
  font-weight: 500;
  color: white;
  margin-top: 18px;
  span {
    font-family: Roboto-Regular;
    font-size: 20px;
    padding-right: 5px;
    margin-top: -3px;
  }
  @media (max-width: @xl) {
    font-size: 27px;
  }
  @media (max-width: @sm) {
    font-size: 20px;
  }

  @media (max-width: 330px) {
    font-size: 16px;
  }
}

:local(.text) {
  font-size: 16px;
  color: @navy-gray;
  margin-top: 3px;
  margin-bottom: 0;
}

:local(.card) {
  padding: 20px 33px 17px 33px;
}

:local(.border) {
  border-left: 2px solid @light-navy-blue;
  padding-left: 34px;
}
