@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.address) {
  color: @light-blue !important;
}

:local(.date) {
  color: @navy-gray !important;
}

:local(.date) p:last-child {
  font-size: 12px !important;
}

:local(.amount) {
  font-family: Roboto-Medium;
  vertical-align: middle;
}

:local(.arrow) {
  width: 24px;
  height: 24px;
  background: @light-navy-blue;
  border-radius: 50%;

  span {
    font-size: 13px;
  }

  .icon-long-arrow-up {
    color: @red;
  }

  .icon-long-arrow-down {
    color: @green;
  }
}

:local(.info) {
  background-color: @light-navy-blue;
  padding-top: 22px;
  padding-bottom: 12px;
  padding-left: 54px;
}

:local(.title) {
  font-family: Roboto-Medium;
  font-size: 16px;
  color: white;
}

:local(.title-info) {
  font-size: 12px;
  color: @light-gray;
}

:local(.title-text) {
  font-size: 12px;
  color: white;
}



