@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.amount) {
  font-family: Roboto-Medium;
}

:local(.status-blue) {
  color: @light-blue!important;
}

:local(.status-red) {
  color: @salmon!important;
}
