@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.confirm) {
  width: 560px !important;
  @media (max-width: @sm) {
    width: 390px !important;
  }
  @media (max-width: @x-sm) {
    width: 340px !important;
  }

  .modal-content {
    background-color: @light-navy-blue;
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 35px 40px;
    @media (max-width: @sm) {
      padding: 15px 10px;
    }
  }

  :local(.title) {
    font-family: Roboto-Medium;
    font-size: 18px;
    color: white;
  }

  .icon-remove, .icon-remove:hover {
    color: @navy-gray;
    font-size: 17px;
  }
}

:local(.hr) {
  border-bottom: solid 1px @navy-gray !important;
  padding-top: 15px;
}

:local(.btn) {
  font-family: Roboto-Medium;
  width: 149px;
  height: 45px;
  border-radius: 21.5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.17);
  background-color: @light-blue;
  border: 1px solid @light-blue;
  font-size: 18px;
  text-align: center;
  color: white;
  float: right;

  span {
    vertical-align: middle;
  }
}

:local(.btn):hover {
  transition: 0.4s ease-in-out;
  background-color: @lighter-blue;
  border: 1px solid @lighter-blue;
}

:local(.btn):focus {
  outline: none;
}

:local(.from) {
  font-family: Roboto-Medium;
  font-size: 16px;
  color: @navy-gray;
  margin-bottom: 0;

  .icon-both-directions {
    padding-top: 3px;
  }
}

:local(.from-address) {
  font-size: 12px;
  text-align: right;
  color: white;
  margin-bottom: 0;
  padding-top: 3px;
}

:local(.box) {
  border-radius: 6px;
  background-color: @navy-blue;
  padding: 26px 41px 41px 41px;
}

:local(.box-label) {
  font-family: Roboto-Medium;
  font-size: 14px;
  color: @navy-gray;
  margin-bottom: 0;
  white-space: nowrap;
}

:local(.separator){
  border-top: 1px solid @light-navy-blue!important;
}

:local(.equal) {
  font-family: Roboto-Medium;
  font-size: 14px;
  text-align: right;
  color: white;
  margin-bottom: 0;

  .icon-approximately-equal {
    font-size: 7px;
  }

  span:first-child, span:last-child{
    min-width: 25px;
  }
}

