@import "~bootstrap/dist/css/bootstrap.css";
@import "./fonts";
@import "./colors";
@import "./vars";

body {
  font-family: Roboto-Regular !important;
  background-color: @dark-navy;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.child-center-hor-ver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.child-center-ver {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.child-center-ver-lg {
  @media (max-width: @lg) {
    position: unset !important;
    top: auto !important;
  }
}

.btn:hover, .btn:active, .btn:focus {
  box-shadow: 0 0 0 0 !important;
  outline: none;
}

.card-primary {
  border-radius: 8px;
  box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.12);
  background-color: @light-navy;
}

.card-secondary {
  border-radius: 8px;
  border: solid 1px @light-navy-blue;
  background-color: @navy-blue;
}

.card-secondary:hover {
  border: 1px solid @sky-blue;
  transition: 0.4s ease-in-out;
}

.base-padding {
  padding: 36px 65px;
  @media (max-width: @lg) {
    padding: 36px 60px;
  }
  @media (max-width: @md) {
    padding: 36px 50px;
  }
  @media (max-width: @sm) {
    padding: 36px 15px;
  }
}

.header-padding {
  padding-right: 65px;
  padding-left: 65px;
  @media (max-width: @lg) {
    padding-right: 60px;
    padding-left: 60px;
  }
  @media (max-width: @md) {
    padding-right: 50px;
    padding-left: 50px;
  }
  @media (max-width: @sm) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.copy-class-gray {
  font-size: 17px;
  color: @navy-gray;
}

.copy-class-blue {
  font-size: 20px;
  color: @light-blue;
}

.card {
  height: 100%;
}

.form-label-primary {
  font-family: Roboto-Medium;
  font-size: 20px;
  line-height: 1.5;
  color: white;
}

.form-label-secondary {
  font-family: Roboto-Medium;
  font-size: 16px;
  color: white;
}

.form-control-primary, .form-control-primary:focus {
  border-radius: 8px;
  border: solid 1px @light-navy-blue;
  background-color: @navy-blue;
  font-size: 16px;
  vertical-align: middle;
  height: 50px;
  color: white;
}

.form-control-primary:focus, .text-area-primary:focus {
  box-shadow: 0 0 0 0 !important;
  transition: 0.4s ease-in-out;
  border: 1px solid @light-blue;
}

.form-control-primary::placeholder {
  font-size: 16px;
  color: @navy-gray;
}

// tesstgdgferivhrjotyhj

.form-control-secondary, .form-control-secondary:focus {
  border-radius: 6px;
  border: solid 1px @navy-gray;
  background-color: @dark-gray;
  font-size: 14px;
  vertical-align: middle;
  height: 50px;
  color: white;
}

.form-control-secondary:focus, .text-area-secondary:focus {
  box-shadow: 0 0 0 0 !important;
  transition: 0.4s ease-in-out;
  border: 1px solid @light-blue;
}

.form-control-secondary::placeholder {
  font-size: 14px;
  color: @navy-gray;
}

.text-area-primary {
  border-radius: 6px;
  border: solid 1px @navy-gray;
  background-color: @dark-gray;
  resize: none;
  color: white !important;
  font-size: 14px;
}

.text-area-primary::placeholder {
  color: @navy-gray;
  font-size: 14px;
}

.text-area-primary:focus {
  background-color: @dark-gray;
  outline: none;
}

.primary-input-group-box {
  border-radius: 5px;
  border: solid 1px @navy-gray;

  .primary-input-group {
    border-radius: 6px;
    border: 1px solid @dark-gray;
    background-color: @dark-gray;
    color: white;
    height: 45px;
    vertical-align: middle;
  }

  .primary-input-group:active, .primary-input-group:focus {
    box-shadow: 0 0 0 0 !important;
  }

  .primary-input-group::placeholder {
    font-size: 15px;
    color: @navy-gray;
  }

  .input-group-prepend {
   //margin-right: 0;
   // margin-left: -0.1px;
    background-color: @navy-gray;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .input-group-img {
    border: solid 1px @navy-gray;
    background-color: @navy-gray;
    width: 45px;
    height: 45px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.primary-input-group-box:focus, .primary-input-group-box:focus-within {
  border: 1px solid @light-blue;
  border-right: 2px solid @light-blue!important;
  transition: 0.3s ease-in-out;
}

.primary-type-table {

  tbody tr td {
    border-top: 1px solid @light-navy-blue !important;
    white-space: nowrap;
  }

  tbody tr:last-child {
    border-bottom: 1px solid @light-navy-blue !important;
  }

  tbody tr .div-tr:hover {
    background-color: @light-navy-blue;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  tbody tr:first-child td {
    border-top: none !important;
  }

  thead th {
    border-bottom: none !important;
    border-top: none !important;
  }

  thead tr th {
    font-size: 14px;
    color: @navy-gray;
    padding-top: 32px;
    padding-bottom: 18px;
  }

  tbody tr td {
    color: white;
    font-size: 14px;
    height: 64px;
    vertical-align: middle;
  }

  tbody tr td:first-child, thead tr th:first-child {
    padding-left: 24px;
    @media (max-width: @md) {
      padding-left: 12px;
    }
  }

  tbody tr td, thead tr th {
    @media (max-width: @md) {
      padding-right: 3px !important;
      padding-left: 3px !important;
    }
  }

  tbody {
    @media (max-width: 1300px) {
      overflow-x: scroll;
      max-width: 800px;
    }
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -10px;
  @media (max-width: @sm) {
    margin-left: -4px;
  }
}

.rc-select {
  border-radius: 6px;
  border: solid 1px @navy-gray;
  background-color: @dark-gray;
  font-size: 14px !important;
  color: white;
  cursor: pointer;

  .rc-select-selector {
    border: none;
  }

  .rc-select-selection-search:focus {
    outline: none !important;
  }

  .rc-select-single {
    width: 470px !important;
  }

  .rc-select-arrow {
    height: 45px;
    position: absolute;
    top: 11px !important;
    right: 10px;
    width: 20px;
    outline: none;
    color: @navy-gray !important;
  }

  .rc-select-selection-item {
    position: absolute;
    top: 2px !important;
    left: 11px !important;
    font-size: 14px !important;
  }
}

.rc-select-single:not(.rc-select-customize-input), .rc-select-selector {
  border: 1px solid transparent !important;
  outline: none;
}

.rc-select-single:not(.rc-select-customize-input):focus, .rc-select-selector:focus {
  outline: none !important;
}

.rc-select input {
  border-radius: 6px;
  border: none !important;
  background-color: @dark-gray;
  width: 470px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.rc-select-dropdown {
  background-color: @dark-gray !important;
  z-index: 2000;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: solid 1px @navy-gray !important;

  .rc-select-item {
    color: white !important;
    cursor: pointer;
    outline: none !important;
    font-size: 14px;
  }

  .rc-select-item:hover, .rc-select-item-option-active {
    background-color: @light-gray !important;
    outline: none !important;
  }
}

.rc-select-focused .rc-select-selector {
  border: none !important;
}
