@navy-blue: #0e2e47;
@light-blue: #57caf2;
@lighter-blue: #7ADCFF;
@sky-blue: #57CAF2;
@navy-gray: #52718a;
@dark-navy-gray: #6a7e8d;
@dark-navy: #0b2539;
@light-navy: #0e2d45;
@salmon: #ed7373;
@light-navy-blue: #25425a;
@gray: #7d7d7d;
@red: #FF6060;
@green: #00F3D0;
@light-gray: #7a98b1;
@light-blue-gray: #a3c2db;
@dark-gray: #2d4b64;

