// Roboto

@font-face {
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: bold;
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

// icomoon
@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon/icomoon.eot?qdyaoe');
  src:  url('../assets/fonts/icomoon/icomoon.eot?qdyaoe#iefix') format('embedded-opentype'),
  url('../assets/fonts/icomoon/icomoon.ttf?qdyaoe') format('truetype'),
  url('../assets/fonts/icomoon/icomoon.woff?qdyaoe') format('woff'),
  url('../assets/fonts/icomoon/icomoon.svg?qdyaoe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e914";
}
.icon-expand:before {
  content: "\e913";
}
.icon-long-arrow-up:before {
  content: "\e912";
}
.icon-arrow-right:before {
  content: "\e911";
}
.icon-small-arrow-down:before {
  content: "\e900";
}
.icon-approximately-equal:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-both-directions:before {
  content: "\e904";
}
.icon-check-circle:before {
  content: "\e905";
}
.icon-clipboard-notes:before {
  content: "\e906";
}
.icon-copy:before {
  content: "\e907";
}
.icon-edit:before {
  content: "\e908";
}
.icon-logout:before {
  content: "\e909";
}
.icon-long-arrow-down:before {
  content: "\e90a";
}
.icon-qr-code:before {
  content: "\e90b";
}
.icon-recycle-bin:before {
  content: "\e90c";
}
.icon-refresh:before {
  content: "\e90d";
}
.icon-remove:before {
  content: "\e90e";
}
.icon-send-message:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
}



