@import "~Root/styles/colors.less";
@import "~Root/styles/vars.less";

:local(.qr) {
  width: 560px !important;
  @media (max-width: @sm) {
    width: 395px !important;
  }
  @media (max-width: @x-sm) {
    width: 340px !important;
  }

  .modal-content {
    background-color: @light-navy-blue;
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 35px 48px 0 48px;
    @media (max-width: @sm) {
      padding: 25px 15px 0 15px;
    }
  }

  .icon-remove, .icon-remove:hover {
    color: @navy-gray;
    font-size: 17px;
  }

  :local(.scroll) {
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

:local(.hr) {
  border-top: 1px solid @navy-gray;
  margin-top: 30px;
  margin-bottom: 30px;
}

:local(.scroll)::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}

:local(.scroll)::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: @navy-gray;
}

:local(.scroll-bar)::-webkit-scrollbar-corner {
  background: transparent;
}
