@import "~Root/styles/colors";

:local(.header) {
  background-color: @navy-blue;
  padding-top: 15px;
  padding-bottom: 10px;
}

:local(.refresh), :local(.refresh):hover {
  span {
    color: @light-blue;
    font-size: 24px;
  }
}

:local(.title) {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;

  :local(.block) {
    color: @navy-gray;
  }

  :local(.block-amount) {
    font-weight: 700;
    color: white;
    padding-left: 10px;
  }
}

:local(.shout-down) {
  font-size: 25px;
}
