@import "~Root/styles/colors.less";
@import "~Root/styles/vars.less";

:local(.qr) {
  width: 560px !important;
  @media (max-width: @sm) {
    width: 395px !important;
  }
  @media (max-width: @x-sm) {
    width: 340px !important;
  }

  .modal-content {
    background-color: @light-navy-blue;
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 35px 48px 60px 48px;
    @media (max-width: @sm) {
      padding: 25px 15px 50px 15px;
    }
  }
  .icon-remove, .icon-remove:hover {
    color: @navy-gray;
    font-size: 17px;
  }
}
