@import "~Root/styles/colors.less";
@import "~Root/styles/vars.less";

:local(.box) {
  border-radius: 6px;
  background-color: @navy-blue;
  @media (max-width: @sm) {
    height: 250px;
  }
}

:local(.code) {
  font-size: 16px;
  line-height: 1.56;
  color: white;
  word-break: break-all;
}

:local(.btn) {
  width: 95px;
  height: 35px;
  border-radius: 21.5px;
  border: solid 1px @light-blue;
  font-size: 14px;
  font-weight: 500;
  color: @light-blue;
  background-color: transparent;
}

:local(.btn):hover {
  background-color: @light-blue;
  color: white;
  transition: 0.4s ease-in-out;
}

:local(.btn):focus {
  outline: none;
}

:local(.square) {
  width: 170px;
  height: 170px;
  border-radius: 6px;
  background-color: white;
  @media (max-width: @sm) {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    height: 147px;
    width: 147px;
    @media (max-width: @sm) {
      height: 80px;
      width: 80px;
    }
  }
}
