@import "~Root/styles/colors";

:local(.card) {
  padding: 33px 32px 17px 32px;
}

:local(.address-title) {
  font-size: 16px;
  font-weight: 500;
  color: @navy-gray;
  margin-bottom: 0;
  font-family: Roboto-Medium;
}

:local(.address) {
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  padding-right: 24px;
}

:local(.address-part) {

  .icon-copy {
    color: @navy-gray;
  }

  .icon-qr-code, .icon-qr-code:hover {
    color: @light-blue;
    margin-left: 24px;
    font-size: 14px;
  }
}

:local(.receive) {
  border-radius: 21.5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.17);
  border: solid 1px @salmon;
  color: @salmon;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 0;
  width: 150px;

  .icon-small-arrow-down {
    font-size: 13px;
  }
}

:local(.receive):hover {
  transition: 0.4s ease-in-out;
  background-color: @salmon;
  color: white;
}

:local(.receive):focus {
  outline: none;
}

:local(.send) {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.17);
  background-color: @light-blue;
  border: 1px solid @light-blue;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 0;
  border-radius: 21.5px;
  width: 150px;
  margin-left: 32px;

  .icon-send-message {
    font-size: 18px;
    vertical-align: middle;
  }
}

:local(.send):hover {
  transition: 0.4s ease-in-out;
  background-color: @lighter-blue;
  border: 1px solid @lighter-blue;
}

:local(.send):focus, :local(.add) {
  outline: none!important;
}

:local(.add) {
  width: 135px;
  height: 25px;
  border-radius: 12.5px;
  border: solid 1px @navy-gray;
  background-color: transparent;
  font-size: 12px;
  color: @navy-gray;
  text-align: center;
  margin-left: 24px;
  vertical-align: middle;
}

:local(.add):hover {
  transition: 0.4s ease-in-out;
  background-color: @navy-gray;
  color: white;
}


