@import "~Root/styles/colors.less";

:local(.card) {
  //padding: 10px;
  cursor: pointer;
  padding-top: 50px;
  padding-bottom: 35px;
}

:local(.title) {
  font-family: Roboto-Medium;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  margin-top: 14px;
}

:local(.text) {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.64;
  text-align: center;
  color: @dark-navy-gray;
}
