@import "~Root/styles/colors";
@import "~Root/styles/vars";


:local(.comment) {
  color: @navy-gray !important;
}

:local(.expiration) p:last-child {
  font-size: 12px !important;
}

:local(.created) {
  color: @navy-gray !important;

  p:last-child {
    font-size: 12px !important;
  }
}

:local(.btn), :local(.btn):hover, :local(.btn):focus, :local(.btn):active {
  width: 20px;
  background-color: transparent !important;
  border: none !important;

  span {
    color: @navy-gray;
    font-size: 18px;
  }
}

:local(.drop) {
  background-color: @light-navy-blue!important;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);

  .dropdown-item {
    font-family: Roboto-Regular;
    color: @light-blue-gray!important;
    font-size: 14px;
    padding-bottom: 16px;
  }

  .dropdown-item:first-child {
    padding-top: 16px;
  }

  .dropdown-item:hover {
    background-color: transparent;
  }

  .dropdown-item:focus {
    outline: none;
  }
}
