@import '~Root/styles/colors';
@import '~Root/styles/vars';

:local(.col) {
  padding-left: 30px;
  @media (max-width: @lg) {
    padding-left: 16px;
  }
}

:local(.tabs) {
  border-bottom: 2px solid @light-navy-blue!important;

  li > a {
    background-color: transparent;
    font-size: 16px;
    color: @navy-gray !important;
    border: none;
    cursor: pointer;
    padding: 9px 32px!important;
    @media (max-width: @md) {
      padding: 9px 8px!important;
    }
  }

  li > a:hover {
    border-color: transparent transparent transparent !important;
  }

  .nav-link.active {
    color: @light-blue;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid @light-blue!important;
    cursor: pointer;
    background: transparent !important;
  }

  .nav-link.active:hover {
    border-bottom: 2px solid @light-blue!important;
  }
}
