@import "~Root/styles/colors.less";
@import "~Root/styles/vars.less";

:local(.title) {
  font-family: Roboto-Medium;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  color: white;
  margin-top: 26px;
}

:local(.text) {
  font-size: 18px;
  text-align: center;
  color: @navy-gray;
  margin-top: 4px;
}

:local(.content-box) {
  margin-top: -58px;
  @media (max-width: @lg) {
    margin-top: -20px;
  }
}

:local(.back) {
  width: 100%;
  height: 272px;
  @media (max-width: @lg) {
    height: auto;
  }
}
